:root {
  --burntSienna: #e57051;
  --redDamask: #d35649;
  --havelockBlue: #509ad8;
  --steelBlue: #457db4;
  --pewter: #97a3a4;
  --tundora: #444;
  --mineShaft: #1f1f1f;
  --porsche: #e6ac5a;
  --flamingo: #f15838;
}

/* TAGS */

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  padding: 1px;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
  padding: 10px;
}

nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px 20px;
}


main {
  position: relative;
  width: 100vw;
  height: 100%;
}

label {
  display: block;
}

/* ID's */

#search-input {
  width: 100%;
  height: 25px;
  border: none;
}

/* CLASSES */

.menu {
  height: 20px;
}

.menu-text {
  display: none;
}

.back-img {
  width: 100%;
  height: 800px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  opacity: 0.7;
  background-image: url(./resources/slider-kittens.jpg);
}

.blue-filter {
  background-image: radial-gradient(gray, #042658);
  opacity: 0.6;
  width: 100%;
  height: 100%;
}

.menu-link:hover {
  position: relative;
  top: -2px;
  opacity: 0.7;
}

.logo-cat {
  display: inline-flex;
  width: 80px;
  height: 65px;
  background-size: 80px 65px;
  background-position: center;
  background-image: url(./resources/cat-white.svg);
}

.icon {
  display: inline-flex;
  width: 24px;
  height: 24px;
  background-size: 24px 24px;
  background-position: center;
  margin-right: 18px;
  margin-top: 10px;
}

.m-glass {
  background-image: url(./resources/icon-search-glass.svg);
}

.user {
  background-image: url(./resources/user.svg);
}

.blog {
  background-image: url(./resources/blog.svg);
}

.more {
  background-image: url(./resources/more.svg);
}

.search-bar {
  position: relative;
  margin: 30px 10%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

.search-bar form {
  padding: 10px;
}

/* MODIFIERS */

.flex {
  display: flex;
}

.abs {
  position: absolute;
}

.z-2 {
  z-index: 2;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.a-start {
  align-self: flex-start;
}

.a-bottom {
  align-items: flex-end;
}

.filter {
  filter: brightness(3);
  filter: grayscale(0.1);
}

.spread {
  justify-content: space-between;
}

.hidden {
  visibility: hidden;
}

.center {
  margin: 0 auto;
}

.font-big {
  font-size: 1.8rem;
}

.font-md {
  font-size: 1rem;
}

.font-sml {
  font-size: 0.9rem;
}

.center-x {
  justify-self: center;
}

.center-y {
  align-self: center;
  align-items: center;
}

.upper {
  text-transform: uppercase;
}

.bold {
  font-weight: 500;
}

.bolder {
  font-weight: 700;
}

.white {
  color: white;
}

.mine-shaft {
  color: var(--mineShaft);
}

.bg-white {
  background-color: white;
}

.red-damask {
  color: var(--redDamask);
}

.bg-red-damask {
  background-color: var(--redDamask);
}

.full-op {
  opacity: 1;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 768px) {
  nav {
    flex-direction: row;
  }

  .icon {
    display: inline-flex;
    width: 22px;
    height: 22px;
    background-size: 22px 22px;
    margin-right: 14px;
    margin-top: 0;
  }

  .logo-cat {
    display: inline-flex;
    width: 80px;
    height: 65px;
    background-size: 80px 65px;
    background-position: center;
    background-image: url(./resources/cat-white.svg);
  }
}

@media only screen and (min-width: 1024px) {
  .menu-text {
    display: flex;
  }

  .icon {
    display: inline-flex;
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
    margin-right: 7px;
  }
}
